In [1]:
import pandas as pd
student_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [23, 25, 22, 24, 23],
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'Score': [85, 78, 92, 70, 88]
})

In [3]:
first_three_rows = student_data.head(3)
print("First three rows:")
print(first_three_rows)

First three rows:
      Name  Age Gender  Score
0    Alice   23      F     85
1      Bob   25      M     78
2  Charlie   22      M     92

In [5]:
gender_f_rows = student_data[student_data['Gender'] == 'F']
print("\nRows where 'Gender' is 'F':")
print(gender_f_rows)

Rows where 'Gender' is 'F':
    Name  Age Gender  Score
0  Alice   23      F     85
4    Eva   23      F     88

In [7]:
student_data['Score1'] = student_data['Score']
student_data['Score2'] = student_data['Score']
print("\nDataFrame after adding Score1 and Score2 columns:")
print(student_data)

DataFrame after adding Score1 and Score2 columns:
      Name  Age Gender  Score  Score1  Score2
0    Alice   23      F     85      85      85
1      Bob   25      M     78      78      78
2  Charlie   22      M     92      92      92
3    David   24      M     70      70      70
4      Eva   23      F     88      88      88

In [9]:
student_data['Age1'] = student_data['Age']
print("\nDataFrame after adding Age1 column:")
print(student_data)

DataFrame after adding Age1 column:
      Name  Age Gender  Score  Score1  Score2  Age1
0    Alice   23      F     85      85      85    23
1      Bob   25      M     78      78      78    25
2  Charlie   22      M     92      92      92    22
3    David   24      M     70      70      70    24
4      Eva   23      F     88      88      88    23

In [11]:
student_data = student_data.drop(columns=['Age1'])
print("\nDataFrame after dropping Age1 column:")
print(student_data)

DataFrame after dropping Age1 column:
      Name  Age Gender  Score  Score1  Score2
0    Alice   23      F     85      85      85
1      Bob   25      M     78      78      78
2  Charlie   22      M     92      92      92
3    David   24      M     70      70      70
4      Eva   23      F     88      88      88

In [13]:
student_data = student_data.drop(columns=['Score1', 'Score2'])
print("\nDataFrame after dropping Score1 and Score2 columns:")
print(student_data)

DataFrame after dropping Score1 and Score2 columns:
      Name  Age Gender  Score
0    Alice   23      F     85
1      Bob   25      M     78
2  Charlie   22      M     92
3    David   24      M     70
4      Eva   23      F     88

In [15]:
student_data = student_data.drop(index=3)
print("\nDataFrame after dropping the row at index 3:")
print(student_data)

DataFrame after dropping the row at index 3:
      Name  Age Gender  Score
0    Alice   23      F     85
1      Bob   25      M     78
2  Charlie   22      M     92
4      Eva   23      F     88

In [17]:
gender_f_score_above_85 = student_data[(student_data['Gender'] == 'F') & (student_data['Score'] > 85)]
print("\nRows where 'Gender' is 'F' and 'Score' is greater than 85:")
print(gender_f_score_above_85)

Rows where 'Gender' is 'F' and 'Score' is greater than 85:
  Name  Age Gender  Score
4  Eva   23      F     88

In [19]:
sorted_student_data = student_data.sort_values(by='Score', ascending=False)
print("\nDataFrame sorted by 'Score' in descending order:")
print(sorted_student_data)

DataFrame sorted by 'Score' in descending order:
      Name  Age Gender  Score
2  Charlie   22      M     92
4      Eva   23      F     88
0    Alice   23      F     85
1      Bob   25      M     78

In [25]:
def grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'D'

student_data['Grade'] = student_data['Score'].apply(grade)
print("\nDataFrame after adding 'Grade' column:")
print(student_data)

DataFrame after adding 'Grade' column:
      Name  Age Gender  Score Grade
0    Alice   23      F     85     B
1      Bob   25      M     78     C
2  Charlie   22      M     92     A
4      Eva   23      F     88     B

In [27]:
sales_data = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
    'Product': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Sales': [150, 200, 250, 300, 400, 500]
})

In [29]:
total_sales_by_product = sales_data.groupby('Product')['Sales'].sum()
print("Total Sales by Product:")
print(total_sales_by_product)

Total Sales by Product:
Product
A     600
B    1200
Name: Sales, dtype: int64

In [31]:
highest_sales_month_by_product = sales_data.loc[sales_data.groupby('Product')['Sales'].idxmax()]
print("\nMonth with the highest sales for each product:")
print(highest_sales_month_by_product)

Month with the highest sales for each product:
  Month Product  Sales
2   Mar       A    250
5   Mar       B    500

In [35]:
sales_data['Total_Sales_By_Product'] = sales_data.groupby('Product')['Sales'].transform('sum')
sales_data['Sales_Percentage'] = (sales_data['Sales'] / sales_data['Total_Sales_By_Product']) * 100

In [37]:
sales_data = sales_data.drop(columns=['Total_Sales_By_Product'])

In [39]:
print("\nSales Data with Sales_Percentage:")
print(sales_data)

Sales Data with Sales_Percentage:
  Month Product  Sales  Sales_Percentage
0   Jan       A    150         25.000000
1   Feb       A    200         33.333333
2   Mar       A    250         41.666667
3   Jan       B    300         25.000000
4   Feb       B    400         33.333333
5   Mar       B    500         41.666667